<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RamshurRatApp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RamshurRatApp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PortName" value="COM9" />
    <add key="DirectoryPath" value="" />
    <add key="BAUD_RATE" value="115200" />
    <add key="xDisplayRange" value="100" />
    <add key="yDisplayRange" value="100" />
    <!-- Refresh time for graph -->
    <add key="graphRefreshTime" value="50" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--********************************************LOG4NET***************************************-->
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="log\fluorine.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" value="[Header]\r\n" />
                <param name="Footer" value="[Footer]\r\n" />
                <param name="ConversionPattern" value="%d, %t, %-5p, %c, %m%n" />-->
        <param name="ConversionPattern" value="%date{dd/MMM/yyyy, HH:mm:ss:fff}, %thread, %-5p, %c, %M, %message%newline " />
      </layout>
    </appender>
    <appender name="LogFileAppender1" type="log4net.Appender.FileAppender">
      <!--<file type="log4net.Util.PatternString" value="%property{FNAME}" />-->
      <param name="File" value="UserLog\CustomLogger.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{dd/MMM/yyyy, HH:mm:ss:fff}, %thread, %-5p, %c, %M, %message%newline " />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender1" type="log4net.Appender.RollingFileAppender">
      <file value="${TEMP}\Ramshur\RamshurRat.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumfilesize value="20MB" />
      <maxSizeRollBackups value="20" />
      <layout type="log4net.Layout.PatternLayout">
        <!-- <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" /> -->
        <conversionPattern value="%date{dd/MMM/yyyy, HH:mm:ss:fff}, %thread, %-5p, %c, %M, %message%newline " />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender1" />
    </root>
  </log4net>
  <!--********************************************LOG4NET***************************************-->
  <applicationSettings>
    <RamshurRatApp.Settings1>
      <setting name="CONFIG_PARAM" serializeAs="String">
        <value>Please fill all the configuration parameters.</value>
      </setting>
      <setting name="chnl" serializeAs="String">
        <value>Please select the channel to be used.</value>
      </setting>
      <setting name="mode" serializeAs="String">
        <value>Please select the mode of operation to be used.</value>
      </setting>
      <setting name="T1T4T3_dependancy" serializeAs="String">
        <value>T1, T3, T4, and T8 should be in the relation ((T1 * 3600) / T4) &gt; (T3 * T8).</value>
      </setting>
      <setting name="T8T5T6T7dependency" serializeAs="String">
        <value>Addition of the parameters T5,T6,T7 should be less than the value of the paramater T8.</value>
      </setting>
      <setting name="T3T9T10dependency" serializeAs="String">
        <value>The values T8, T9 and T10 should be in the realtionT3 &gt; T10 &gt;T9 .</value>
      </setting>
      <setting name="samplingrate" serializeAs="String">
        <value>Please enter the sampling rate.</value>
      </setting>
      <setting name="adcresolution" serializeAs="String">
        <value>Please enter the ADC resolution.</value>
      </setting>
      <setting name="success" serializeAs="String">
        <value>Configurations successfully uploaded on the device.</value>
      </setting>
      <setting name="param_range" serializeAs="String">
        <value>The value of T1 is out of the specified range. Please take the cursor to the particular field to see the specified range.</value>
      </setting>
      <setting name="param_rangeT2" serializeAs="String">
        <value>The value of T2 is out of the specified range. Please take the cursor to the particular field to see the specified range.</value>
      </setting>
      <setting name="param_rangeT3" serializeAs="String">
        <value>The value of T3 is out of the specified range. Please take the cursor to the particular field to see the specified range.</value>
      </setting>
      <setting name="param_rangeT4" serializeAs="String">
        <value>The value of T4 is out of the specified range. Please take the cursor to the particular field to see the specified range.</value>
      </setting>
      <setting name="param_rangeT5" serializeAs="String">
        <value>The value of T5 is out of the specified range. Please take the cursor to the particular field to see the specified range.</value>
      </setting>
      <setting name="param_rangeT6" serializeAs="String">
        <value>The value of T6 is out of the specified range. Please take the cursor to the particular field to see the specified range.</value>
      </setting>
      <setting name="param_rangeT7" serializeAs="String">
        <value>The value of T7 is out of the specified range. Please take the cursor to the particular field to see the specified range.</value>
      </setting>
      <setting name="param_rangeT8" serializeAs="String">
        <value>The value of T8 is out of the specified range. Please take the cursor to the particular field to see the specified range.</value>
      </setting>
      <setting name="param_rangeT9" serializeAs="String">
        <value>The value of T9 is out of the specified range. Please take the cursor to the particular field to see the specified range.</value>
      </setting>
      <setting name="param_rangeT10" serializeAs="String">
        <value>The value of T10 is out of the specified range. Please take the cursor to the particular field to see the specified range.</value>
      </setting>
      <setting name="HHU_CONNECTED" serializeAs="String">
        <value>Device connected</value>
      </setting>
      <setting name="HHU_DisCONNECTED" serializeAs="String">
        <value>Device not connected</value>
      </setting>
      <setting name="Config_FAIL" serializeAs="String">
        <value>Unable to configure parameters on the device.</value>
      </setting>
      <setting name="DISCOVER_PARA_SUCCESS" serializeAs="String">
        <value>Configuration parameters successfully fetched.</value>
      </setting>
      <setting name="DISCOVER_PARA_FAIL" serializeAs="String">
        <value>Failed to fetch the configuration parameters.</value>
      </setting>
      <setting name="CONNECTION" serializeAs="String">
        <value>Device  connected</value>
      </setting>
      <setting name="GUIADANCE" serializeAs="String">
        <value />
      </setting>
      <setting name="URL" serializeAs="String">
        <value />
      </setting>
      <setting name="RESET_CONFIRM" serializeAs="String">
        <value>Do you want to reset the timing configuration values?</value>
      </setting>
      <setting name="First_File" serializeAs="String">
        <value>This is the first file in the collection.</value>
      </setting>
      <setting name="CONNECTION1" serializeAs="String">
        <value>Please check the application - device connectivity and try again  getting  the configurations.</value>
      </setting>
      <setting name="CONNECTION2" serializeAs="String">
        <value>Cannot find the device for establishing the connection.</value>
      </setting>
    </RamshurRatApp.Settings1>
  </applicationSettings>
  <userSettings>
    <RamshurRatApp.Settings1>
      <setting name="xrange_empty" serializeAs="String">
        <value>Please enter valid display range for X-axis.</value>
      </setting>
      <setting name="xrange_less_error" serializeAs="String">
        <value>Minimum display range is 100, please enter display range greater than 100 and less than 1000.</value>
      </setting>
      <setting name="xrange_number_only" serializeAs="String">
        <value>Display range should be decimal.</value>
      </setting>
    </RamshurRatApp.Settings1>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>